/* Write your CSS here */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 13vh;
  background-color: #cbd5e1;
  width: 60%;
  padding: 20px;
  margin: 10px;
}
.header-title {
  font-family: 'Roboto';
  font-weight: bold;
  color: #475569;
  font-size: 36px;
}
